/* Full page background */
.login-container {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1920&q=80")
    no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  padding: 2rem;
  width: 210vh;
}

/* Glass effect box */
.login-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 40px 50px;
  width: 400px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

/* Titles */
.login-title {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.login-subtitle {
  color: #070707;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Input Fields */
.input-group {
  margin-bottom: 20px;
  text-align: left;

}

.input-group label {
  color: #fcfcfc;
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

/* Button */
.login-btn {
  background-color: #2e8b57;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #eaf0ed;
  color: #01a74e;
  transform: scale(1.03);
}

/* Footer Links */
.login-footer {
  margin-top: 20px;
}

.login-footer p {
  color: #fff;
}

.signup-link {
  color: #f59e0b;
  text-decoration: none;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}


/* Error & Validation Styles */
.error {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}

input.invalid {
  border: 2px solid #e74c3c;
  background-color: #fff6f6;
}

input.valid {
  border: 2px solid #2ecc71;
  background-color: #f6fff8;
}

.login-message {
  color: #b22;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: center;
}
